img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vw;
    width: 5%;
  }
  h1, h4 {
      text-align: center;
      margin-top: 1vw;
  }

  .profile {
    padding: 20px;
  }

  h2 {
    font-weight: 200;
    margin-bottom: 1vw;
  }
  input {
    padding: 10px;
    border: 1px solid rgb(158, 156, 156);
    width: 15vw;
    margin-bottom: 1vw;
    border-radius: 5px;
    outline: none;
  }
  button {
    padding: 10px;
    width: 7vw;
    background-color: rgb(74, 90, 231);
    font-weight: 300;
    font-size: 15px;
    color: white;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  button:hover {
    background-color: rgb(20, 36, 173);
  }

.message {
  margin-top: 1vw;
  color: rgb(70, 112, 7);
  text-align: center;
}
